body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.burger-height {
  height: 200px;
  width: 300px;
  margin-bottom: 5%;
}

.fry-img, .shakes-img {
  height: 200px;
  width: 260px;
  margin-bottom: 5%;
  transition: width 1s, height 1s;
}
